* {
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}
.main {
  display: flex;
}
div.left {
  width: 70%;
  background-color: tan;
  justify-content: space-around;
}

div.right {
  width: 30%;
  padding: 100px 10px 10px 10px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
}
div #options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
table {
  border-collapse: collapse;
}

input {
  background-color: darkkhaki;
  height: 15px;
  display: inline;
}
#board {
  margin-top: 25px;
  margin-left: 150px;
}
/* 
.landing-page {
  background-color: azure;
  display: none;
}

.navigation {
  background-color: palegoldenrod;
} */
/* 
div.heading {
  font: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  color: teal;
  margin: 40px 20px;
  text-align: center;
} */
/* .selection {
  margin: 25vw;
  margin-top: 20px;
}
button {
  display: inline;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
} */
/* 
* {
  margin: 0;
  padding: 0;
} */

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h2 {
  text-align: center;
}
p {
  margin-top: 0;
  margin-left: 10px;
  display: inline-block;
}
#scoring {
  margin-top: 25px;
  font-family: fantasy;
}

.names input {
  background-color: darkkhaki;
  height: 30px;
}

.right td {
  width: 15vw;
  height: 70px;
  border: 5px solid gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
}

.left td {
  width: 15vw;
  height: 150px;
  border: 10px solid white;
  font-family: cursive;
  font-size: 100px;
  text-align: center;
  justify-content: space-around;
}

.left td:hover {
  background: rgb(241, 149, 28);
}
