* {
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}
.main {
  display: none;
}
div.left {
  width: 65%;
  background-color: tan;
  justify-content: space-around;
}

div.right {
  width: 35%;
  padding: 40px 10px 10px 10px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
}
#submit {
  height: 30px;
}
.options1,
.options2 {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* width: 95vw; */
}
table {
  border-collapse: collapse;
}

input {
  background-color: darkkhaki;
  height: 15px;
  /* display: inline; */
}
#board {
  margin-top: 25px;
  margin-left: 150px;
}
.landing-page {
  background-color: azure;
}

.landing-page button {
  display: block;
  margin: auto;
}
div.heading {
  font: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  color: teal;
  margin: 40px 20px;
  text-align: center;
}

button {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h2 {
  text-align: center;
}
p {
  margin-top: 0;
  margin-left: 10px;
}
#scoring {
  margin-top: 25px;
  font-family: fantasy;
}

.names input {
  background-color: darkkhaki;
  height: 30px;
}

.right td {
  width: 15vw;
  height: 70px;
  border: 5px solid gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
}

.left td {
  width: 15vw;
  height: 150px;
  border: 10px solid white;
  font-family: cursive;
  font-size: 100px;
  text-align: center;
  justify-content: space-around;
}

.left td:hover {
  background: rgb(241, 149, 28);
}
